.header-page{
  p{
    color: #333333;
    font-size: 31px;
    font-family: $main;
  }
  position: absolute;
  top: 0;
  left: 0;
  @include size(100%, 75px);
  background: #fff;
  color: #000;
  font-size: 26px;
  padding-top: 25px;

  &:before{
    content: '';
    margin-left: 15px;
    float: left;
    margin-right: 12px;
  }
  .flag_cards &{
    &:before{
      @include size(39px, 40px);
      @include retinaDisplay('../images/img/', 'vwAchieve_web_flc_studyAids_header_icn.png', 'vwAchieve_web_flc_studyAids_header_icn@2x.png'){
        -webkit-background-size: auto 100%;
        -moz-background-size: auto 100%;
        background-size: auto 100%;
      }
    }
  }

  .test_vocab &{
    &:before{
      @include  size(39px, 40px);
      @include retinaDisplay('../images/img/', 'vwAchieve_web_games_header_icn.png', 'vwAchieve_web_games_header_icn@2x.png'){
        -webkit-background-size: auto 100%;
        -moz-background-size: auto 100%;
        background-size: auto 100%;
      }
    }
  }
  .hang_man &{
    &:before{
      @include size(39px, 40px);
      @include retinaDisplay('../images/img/', 'vwAchieve_web_games_header_icn.png', 'vwAchieve_web_games_header_icn@2x.png'){
        -webkit-background-size: auto 100%;
        -moz-background-size: auto 100%;
        background-size: auto 100%;
      }
    }
  }
  .iwords-page &{
    &:before{
      @include size(39px, 40px);
      @include retinaDisplay('../images/img/', 'vwAchieve_web_iWords_header_icn.png', 'vwAchieve_web_iWords_header_icn@2x.png'){
      -webkit-background-size: auto 100%;
      -moz-background-size: auto 100%;
      background-size: auto 100%;
    }
    }
  }
  span{
    color: #0099cc;
    font-family: $main;
  }
  @include respond-to($break-991){
    display: none;
  }
}
.iwords-page{
  padding: 50px 10px !important;
  @include retinaDisplay('../images/img/', 'vw_web_bg.jpg', 'vw_web_bg@2x.jpg'){
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  @include respond-to($break-767){
    padding: 15px 10px !important;
  }
}

.iwords-page{
  .box-content{
    max-width: 725px;
    background: #fff;
    margin: 0 auto;
    //min-height: 492px;
    .bar-top{
      height: 48px;
      border-bottom: 1px solid $cl-line;
      background: #f4f4f6;
      .word{
        float: left;
        font-size: 16px;
        color: #ff6633;
        padding-left: 35px;
        line-height: 48px;
        font-family: $main;
      }
      .audio-iword{
        float: right;
      }

      @include respond-to($break-767){
        height: auto;
        .word,
        .audio-iword{
          float: none;
          width: 100%;
          text-align: center;
          padding-left: 0;
        }
      }
    }
  }
  .top-word{
    border-bottom: 0.5px solid #000066;
    padding-bottom: 5px;
    .text{
      padding-top: 10px;
      padding-bottom: 10px;
      float: left;
      @include calc('width', '100% - 70px');
      .unit{
        font-family: $main-b;
        color: #000066;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 5px;
      }
      .desc{
        font-family: $main-ds;
        color: #2867b6;
        font-size: 16px;
      }
      @include respond-to($break-320){
        .unit,
        .desc{
          font-size: 16px;
        }
      }
    }
    .down{
      margin-top: 25px;
      float: left;
      width: 70px;
      border-left: 0.5px solid #000066;
      .lession{
        font-size: 14px;
        margin-bottom: 5px;
        font-family: $main-b;
        color: #333333;
      }
      a{
        display: inline-block;
        @include size(23px, 27px);
        @include retinaDisplay('../images/ic/', 'vwAchieve_web_download_icn.png', 'vwAchieve_web_download_icn@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
    }
  }

  .lesson-show{
    padding: 0 35px;
    .content-show{
      padding: 15px 0 35px;
      .scroll-iword{
        overflow-x: hidden;
        overflow-y: auto;
        height: 319px;
        @include respond-to($break-991){
          height: 572px;
        }
      }
      @include respond-to($break-767){
        padding: 15px 0 15px;
        .scroll-iword {
          height: 245px;
        }
      }
      @include respond-to($break-320){
        .scroll-iword {
          height: 200px;
        }
      }
    }
    p{
      float: left;
      @include calc('width', '100% / 3');
      font-size: 16px;
      line-height: 34px;
      font-family: $main-ds;
      color: #2867b6;
      select{
        padding: 0 25px 0 0;
        background: url("../images/ic/vwAchieve_web_dropdownArrow.png") right center no-repeat;
        font-size: 16px;
        font-family: $main-ds;
        color: #2867b6;
      }
      @include respond-to($break-640){
        width: 50%;
        font-size: 18px;
        select {
          font-size: 18px;
        }
      }
      @include respond-to($break-320){
        width: 50%;
        font-size: 17px;
        select {
          font-size: 17px;

        }
      }
    }
    @include respond-to($break-480){
      padding: 0 10px;
      p {
        width: 100%;
      }
    }
  }
}

.audio-iword{
  position: relative;
  @include clearfix;
  padding: 8px 0;
  audio{
    display: none;
  }
  .playpause{
    float: left;
    width: 54px;
    height: 32px;
    border-left: 2px solid $cl-line;
    text-align: center;
    cursor: pointer;
    &.pause{
      .play-icon{
        display: inline-block;
        @include size(12px, 32px);
        @include retinaDisplay('../images/ic/', 'vwAchieve_play_mediaPlayer.png', 'vwAchieve_play_mediaPlayer@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .pause-icon{
        display: none;
      }
    }
    &.play{
      .play-icon{display: none;}
      .pause-icon{
        display: inline-block;
        @include size(16px, 32px);
        @include retinaDisplay('../images/ic/', 'vwAchieve_pause_mediaPlayer.png', 'vwAchieve_pause_mediaPlayer@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
    }
  }

  #songSlider{
    float: left;
    width: 190px;
    @include respond-to($break-767){
      @include calc('width', '100% - 222px');

    }
    .line-song{
      position: relative;
      height: 32px;
      width: 100%;
      &:after{
        content: '';
        display: block;
        border-top: 1px solid $cl-line;
        border-bottom: 1px solid $cl-line;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        z-index: 0;
      }
    }
    #trackProgress{
      position: absolute;
      top: 50%;
      @include translate(-50%, -50%);
      @include size(12px, 12px);
      @include border-radius(50%);
      @include retinaDisplay('../images/ic/', 'vwAchieve_web_mp_node.png', 'vwAchieve_web_mp_node@2x.png'){
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
      }
      z-index: 1;
    }
  }
  .time{
    float: left;
    line-height:32px;
    color: #000;
    font-size: 13px;
    width: 60px;
    text-align: center;
    font-family: $main;
  }
  .prev{
    float: left;
    width: 48px;
    text-align: center;
    border-left: 2px solid $cl-line;
    border-right: 2px solid $cl-line;
    a{
      display: inline-block;
      @include size(23px, 32px);
      @include retinaDisplay('../images/ic/', 'vwAchieve_prev_mediaPlayer.png', 'vwAchieve_prev_mediaPlayer@2x.png'){
        -webkit-background-size: auto 100%;
        -moz-background-size: auto 100%;
        background-size: auto 100%;
      }
    }
    @include respond-to($break-767){
      border-left: none;
    }
  }
}