/*than css*/
@for $i from 1 through 13 {
  .vw-achieve-#{$i} {
    @include retinaDisplay('../images/img/', 'web_vwAchieve_g#{$i}.png', 'web_vwAchieve_g#{$i}@2x.png'){
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }
  }
}
.flag_cards {
  //@include retinaDisplay('../images/img/', 'vw_web_bg.jpg', 'vw_web_bg@2x.jpg'){
  //  -webkit-background-size: cover;
  //  -moz-background-size: cover;
  //  background-size: cover;
  //}
  .header-page{
    span{
      color: #4fbdbe;
    }
  }
  @include respond-to($break-991){
    padding: 20px 10px 45px!important;
  }
  @include respond-to($break-767){
    padding: 20px 10px 40px!important;
  }
  @include respond-to($break-320){
    padding: 10px 10px 40px!important;
  }
}
.page-number{
  text-align: center;
  font-size: 26px;
  color: #fff;
  padding-bottom: 20px;
}
.bg-white {
  background: #fff;
  width: 75%;
  margin: auto;
  padding: 2%;
}
.content{
  border: 2px solid #ffcb2f;
  padding: 60px 40px 20px;
  @include radius(10px);
  position: relative;
  .flag{
    text-align: right;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
    a{
      display: block;
      @include size(40px);
      @include retinaDisplay('../images/ic/', 'vwAchieve_tablet_flag_unselected.png', 'vwAchieve_tablet_flag_unselected@2x.png'){
        -webkit-background-size: auto 100%;
        -moz-background-size: auto 100%;
        background-size: auto 100%;
      }
      //@include grayScale();
      //opacity: 0.6;
    }
    &.active{
      a{
        @include retinaDisplay('../images/ic/', 'vwAchieve_tablet_flag_selected.png', 'vwAchieve_tablet_flag_selected@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
        //@include grayScale(0);
        //opacity: 1;
      }
    }
  }
  .box-content{
    font-size: 60px;
    color: #000;
    text-align: center;
  }
  .box-control{
    text-align: center;
    margin-top:49px;
    .tool-control{
      .control{
        display: inline-block;
        color: #2c9acf ;
        @include radius(50%);
        overflow: hidden;
        margin-right: 5%;
        a{
          text-decoration: none;
          display: block;
          @include size(60px);
        }
        &.ctrl-prev{
          a{
            @include retinaDisplay('../images/ic/', 'vwAchieve_web_back_downstate_btn.png', 'vwAchieve_web_back_downstate_btn@2x.png'){
              -webkit-background-size: auto 100%;
              -moz-background-size: auto 100%;
              background-size: auto 100%;
            }
          }
        }
        &.ctrl-flip{
          a{
            @include retinaDisplay('../images/ic/', 'vw_web_flip_downstate_btn.png', 'vw_web_flip_downstate_btn@2x.png'){
              -webkit-background-size: auto 100%;
              -moz-background-size: auto 100%;
              background-size: auto 100%;
            }
          }
        }
        &.ctrl-next{
          a{
            @include retinaDisplay('../images/ic/', 'vwAchieve_web_go_downstate_btn.png', 'vwAchieve_web_go_downstate_btn@2x.png'){
              -webkit-background-size: auto 100%;
              -moz-background-size: auto 100%;
              background-size: auto 100%;
            }
          }
        }
        a[disabled=disabled]{
          cursor: default;
          @include grayScale();
          opacity: 0.5;
        }
      }
      li:last-child{
        margin-right: 0;
      }
    }
  }
  @include respond-to($break-767){
    padding: 60px 20px 20px;
  }
}

.nav-tool{
  .nav-control{
    margin: auto;
    text-align: center;
    padding-top: 23px;
    .control{
      width: 60px;
      height:60px;
      overflow: hidden;
      display: inline-block;
      margin-right: 7%;
      a{
        display: block;
        @include size(60px);
        @include border-radius(50%);
        @include respond-to($break-767){
          @include size(50px);
        }
      }
      &.ctrl-next{
        a{
          @include retinaDisplay('../images/ic/', 'vwAchieve_tablet_shuffle_downstate_btn.png', 'vwAchieve_tablet_shuffle_downstate_btn@2x.png'){
            -webkit-background-size: auto 100%;
            -moz-background-size: auto 100%;
            background-size: auto 100%;
          }
        }
      }
      &.ctrl-play{
        a{
          @include retinaDisplay('../images/ic/', 'vwAchieve_tablet_play_downstate_btn.png', 'vwAchieve_tablet_play_downstate_btn@2x.png'){
            -webkit-background-size: auto 100%;
            -moz-background-size: auto 100%;
            background-size: auto 100%;
          }
        }
        &.active{
          a{
            @include retinaDisplay('../images/ic/', 'vw_web_pause_downstate_btn.png', 'vw_web_pause_downstate_btn@2x.png'){
              -webkit-background-size: auto 100%;
              -moz-background-size: auto 100%;
              background-size: auto 100%;
            }
          }
        }
      }
      &.ctrl-prev{
        a{
          @include retinaDisplay('../images/ic/', 'vwAchieve_tablet_restart_downstate_btn.png', 'vwAchieve_tablet_restart_downstate_btn@2x.png'){
            -webkit-background-size: auto 100%;
            -moz-background-size: auto 100%;
            background-size: auto 100%;
          }
        }
      }

      &.ctrl-sg{
        a{
          @include retinaDisplay('../images/ic/', 'vwAchieve_web_hint_downstate_btn.png', 'vwAchieve_web_hint_downstate_btn@2x.png'){
            -webkit-background-size: auto 100%;
            -moz-background-size: auto 100%;
            background-size: auto 100%;
          }
        }
      }
      &.ctrl-wo{
        a{
          @include retinaDisplay('../images/ic/', 'vwAchieve_web_answer_downstate_btn.png', 'vwAchieve_web_answer_downstate_btn@2x.png'){
            -webkit-background-size: auto 100%;
            -moz-background-size: auto 100%;
            background-size: auto 100%;
          }
        }
      }
      &.ctrl-rf{
        a{
          @include retinaDisplay('../images/ic/', 'vwAchieve_tablet_restart_downstate_btn.png', 'vwAchieve_tablet_restart_downstate_btn@2x.png'){
            -webkit-background-size: auto 100%;
            -moz-background-size: auto 100%;
            background-size: auto 100%;
          }
        }
      }
      &.ctrl-nx{
        a{
          @include retinaDisplay('../images/ic/', 'vwAchieve_web_next_downstate_btn.png', 'vwAchieve_web_next_downstate_btn@2x.png'){
            -webkit-background-size: auto 100%;
            -moz-background-size: auto 100%;
            background-size: auto 100%;
          }
        }
      }
    }
    li:last-child{
      margin-right: 0;
    }
  }
}

.dark{
  position: relative;
  }
.dark:after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  left: 0;
  top:0;
  z-index: 0;
  opacity: 0.4;
}
.dark a{
  position: relative;
  z-index: 1;
}
@include respond-to($break-991){
  .flag_cards {
    .bg-white {
      .content {
        .box-content {
          font-size: 55px;
        }
      }
    }
  }
    .flag_cards .page-number{
    font-size: 45px;
  }
}

@include respond-to($break-767){
  .bg-white{
    width: 80%;
  }
  .flag_cards {
    .bg-white {
      .content {
        .box-content {
          font-size: 30px;
        }
      }
    }
    .page-number{
      font-size: 20px;
    }
  }
  .content {
    .box-control {
      .tool-control {
        .control{
          width: 50px;
          height: 50px;
          img{
            width: 30px;
          }
        }
      }
    }
  }
  .nav-tool {
    .nav-control {
      .control{
        width: 30px;
        height: 30px;
        img{
          width: 30px;

        }
      }
    }
  }
  .content {
    .flag{
      img{
        width: 30px;
      }
    }
  }
}
@include respond-to($break-320){
  .bg-white{
    width: 85%;
  }
}
/*css hangman*/
.hang_man {
  @include retinaDisplay('../images/img/', 'vw_web_bg.jpg', 'vw_web_bg@2x.jpg'){
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  @include respond-to($break-991){
    padding: 35px 10px 45px !important;
  }
  @include respond-to($break-767){
    padding: 20px 10px 40px !important;

  }
  @include respond-to($break-320){
    padding: 20px 10px 40px !important;
  }
  .header-page{
    span{
      color: #ff6633;
      font-family: $main;
      font-size: 31px;
    }
  }
}
.box-score{
  text-align: center;
  padding-bottom: 30px;
  @include respond-to($break-767){
    padding-bottom: 15px;
  }
  .cup-time{
    color: #fff;
    .time,
    .cup{
      display: inline-block;
      margin: 0 15px;
      padding-left: 25px;
      .text{
        padding-left: 10px;
        font-size: 26px;

      }
    }
    .time{
      position: relative;
      &:before{
        position: absolute;
        left: 0;
        top: 3px;
        display: block;
        width: 26px;
        height: 26px;
        content: " ";
        @include retinaDisplay('../images/ic/', 'vwAchieve_web_timer_icn.png', 'vwAchieve_web_timer_icn@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
    }
    .cup{
      position: relative;
      &:before{
        position: absolute;
        left: 0;
        top: 3px;
        display: block;
        width: 26px;
        height: 26px;
        content: " ";
        @include retinaDisplay('../images/ic/', 'vwAchieve_web_score_icn.png', 'vwAchieve_web_score_icn@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
    }
  }
}
.hang-man-content{
  background: #fff;
  width: 75%;
  margin: auto;
  padding: 2% 3%;
  text-align: center;
  @include radius(10px);
  @include respond-to($break-767){
    width: 85%;
  }
}
.bg-content{
  padding-bottom: 2px;
    .box-alpha{
      padding-left: 1%;
      padding-bottom: 20px;
      .word{
        display: inline-block;
        width: 30px;
        height:30px;
        font-size: 24px;
        color: red;
        @include radius(5px);
        text-align: center;
        margin-top: 10px;
        margin-right: 10px;
        cursor:pointer;
         }
      .word_a{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_a_letter_btn_upstate.png', 'vwAchieve_web_a_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_a.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_a_letter_btn_downstate.png', 'vwAchieve_web_a_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_b{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_b_letter_btn_upstate.png', 'vwAchieve_web_b_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_b.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_b_letter_btn_downstate.png', 'vwAchieve_web_b_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_c{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_c_letter_btn_upstate.png', 'vwAchieve_web_c_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_c.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_c_letter_btn_downstate.png', 'vwAchieve_web_c_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_d{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_d_letter_btn_upstate.png', 'vwAchieve_web_d_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_d.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_d_letter_btn_downstate.png', 'vwAchieve_web_d_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_e{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_e_letter_btn_upstate.png', 'vwAchieve_web_e_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_e.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_e_letter_btn_downstate.png', 'vwAchieve_web_e_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_f{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_f_letter_btn_upstate.png', 'vwAchieve_web_f_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_f.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_f_letter_btn_downstate.png', 'vwAchieve_web_f_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_g{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_g_letter_btn_upstate.png', 'vwAchieve_web_g_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_g.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_g_letter_btn_downstate.png', 'vwAchieve_web_g_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_h{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_h_letter_btn_upstate.png', 'vwAchieve_web_h_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_h.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_h_letter_btn_downstate.png', 'vwAchieve_web_h_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_i{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_i_letter_btn_upstate.png', 'vwAchieve_web_i_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_i.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_i_letter_btn_downstate.png', 'vwAchieve_web_i_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_j{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_j_letter_btn_upstate.png', 'vwAchieve_web_j_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_j.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_j_letter_btn_downstate.png', 'vwAchieve_web_j_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_k{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_k_letter_btn_upstate.png', 'vwAchieve_web_k_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_k.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_k_letter_btn_downstate.png', 'vwAchieve_web_k_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_l{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_l_letter_btn_upstate.png', 'vwAchieve_web_l_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_l.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_l_letter_btn_downstate.png', 'vwAchieve_web_l_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_m{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_m_letter_btn_upstate.png', 'vwAchieve_web_m_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_m.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_m_letter_btn_downstate.png', 'vwAchieve_web_m_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_n{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_n_letter_btn_upstate.png', 'vwAchieve_web_n_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_n.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_n_letter_btn_downstate.png', 'vwAchieve_web_n_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_o{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_o_letter_btn_upstate.png', 'vwAchieve_web_o_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_o.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_o_letter_btn_downstate.png', 'vwAchieve_web_o_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_p{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_p_letter_btn_upstate.png', 'vwAchieve_web_p_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_p.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_p_letter_btn_downstate.png', 'vwAchieve_web_p_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_q{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_q_letter_btn_upstate.png', 'vwAchieve_web_q_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_q.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_q_letter_btn_downstate.png', 'vwAchieve_web_q_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_r{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_r_letter_btn_upstate.png', 'vwAchieve_web_r_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_r.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_r_letter_btn_downstate.png', 'vwAchieve_web_r_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_s{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_s_letter_btn_upstate.png', 'vwAchieve_web_s_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_s.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_s_letter_btn_downstate.png', 'vwAchieve_web_s_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_t{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_t_letter_btn_upstate.png', 'vwAchieve_web_t_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_t.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_t_letter_btn_downstate.png', 'vwAchieve_web_t_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_u{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_u_letter_btn_upstate.png', 'vwAchieve_web_u_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_u.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_u_letter_btn_downstate.png', 'vwAchieve_web_u_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_v{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_v_letter_btn_upstate.png', 'vwAchieve_web_v_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_v.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_v_letter_btn_downstate.png', 'vwAchieve_web_v_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_w{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_w_letter_btn_upstate.png', 'vwAchieve_web_w_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_w.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_w_letter_btn_downstate.png', 'vwAchieve_web_w_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_x{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_x_letter_btn_upstate.png', 'vwAchieve_web_x_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_x.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_x_letter_btn_downstate.png', 'vwAchieve_web_x_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_y{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_y_letter_btn_upstate.png', 'vwAchieve_web_y_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_y.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_y_letter_btn_downstate.png', 'vwAchieve_web_y_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_z{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_z_letter_btn_upstate.png', 'vwAchieve_web_z_letter_btn_upstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
      .word_z.selected{
        @include retinaDisplay('../images/word/', 'vwAchieve_web_z_letter_btn_downstate.png', 'vwAchieve_web_z_letter_btn_downstate@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
        }
      }
    }
  .box-content{
    img{
      width: 64%;
    }
  }
  .input{
    display: inline-block;
    text-align: center;
    .box-input{
      display: inline-block;
      text-transform: uppercase;
      height: 30px;
      width: 30px;
      border-bottom: 2px solid #5a5b5c;
      margin-right: 10px;
      font-weight: bold;
      font-size: 24px;
    }

  }
}
@include respond-to($break-767) {
  .content .box-control .tool-control .control{
    a{
      @include size(50px);
    }
  }
  .nav-tool .nav-control .control{
    width: 50px;
    height: 50px;
    img{
      width: 50px;

    }
  }
  .bg-content{
    .input{
      .box-input{
        @include size(20px);
        font-size: 17px;
      }
    }
    .box-alpha{
      .word{
        width: 20px;
        height: 20px;
        font-size: 17px;
        @include radius(3px);
        margin-top: 5px;
        margin-right: 5px;
      }
    }
  }
}
@include respond-to($break-320){
  .bg-content{
    .input{
      .box-input{
        width: 16px;
      }
    }
  }
}

.test_vocab{
  padding: 23px 10px !important;
  @include retinaDisplay('../images/img/', 'vw_web_bg.jpg', 'vw_web_bg@2x.jpg'){
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  @include respond-to($break-991){
    padding: 20px 10px 45px!important;
  }
  @include respond-to($break-767){
    padding: 20px 10px 40px !important;
  }
  @include respond-to($break-320){
    padding: 10px 10px 40px!important;
  }
  .header-page{
    span{
      color: #ff6633;
      font-size: 31px;
      font-family: $main;
    }
  }
  .test-vocab-content{
    background: #ffffff;
    padding: 30px 40px;
    padding-bottom: 24px;
    width: 70%;
    margin: auto;
    position: relative;
    @include respond-to($break-767){
      padding: 10px 20px;
    }
    .box-content{
      font-size: 21px;
      line-height: 27px;
      text-align: left;
      color: #000000;
    }
    .answer{
      position: relative;
        font-size: 21px;
      line-height: 32px;
        padding-left: 32%;
      padding-top: 2%;
      color: #000000;
      input[type="radio"] {
        display:none;
      }
      input[type="radio"] + label:before {
        content: "";
        display:inline-block;
        width:15px;
        height:15px;
        margin:-1px 4px 0 0;
        vertical-align:middle;
        cursor:pointer;
        @include radius(50%);
      }
      input[type="radio"] + label:before {
        background-color:#aaaaaa;
      }
      input[type="radio"]:checked + label:before{
        background-color:#5a5b5c;
      }
      input[type="radio"] + label:before,
      input[type="radio"]:checked + label:before {
        @include transition(0.3s);
      }
    }
    .box-submit{
      text-align: left;
      padding-left: 27px;
      line-height: 46px;
      border-radius: 5px;
      display: block;
      font-weight: bold;
      color: #009345;
      font-size: 20px;
      @include size(174px, 46px);
      @include retinaDisplay('../images/ic/', 'vwAchieve_web_btnsubmit_upstate_btn.png', 'vwAchieve_web_btnsubmit_upstate_btn@2x.png','#e6e7e8'){
        -webkit-background-size: auto 100%;
        -moz-background-size: auto 100%;
        background-size: auto 100%;
        background-position: right center;
      }
      margin: 20px auto 3px;
      cursor: pointer;
    }
    .pup-h40{
      height: 40px;
      position: absolute;
      left: 20%;
      top: 50%;
      @include translate(-50%, -50%);
      .right-btn{
        @include  size (40px, 40px);
        @include retinaDisplay('../images/ic/', 'vw_web_correct_icon.png', 'vw_web_correct_icon@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
          background-position: 0;
        }
        margin: 0 auto;
        font-size: 32px;
        color: #3bb44a;
      }
      .wrong-btn{
        @include  size (40px, 40px);
        @include retinaDisplay('../images/ic/', 'vw_web_incorrect_icon.png', 'vw_web_incorrect_icon@2x.png'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
          background-position: 0;
        }
        margin: 0 auto;
        font-size: 32px;
        color: #ec2224;
      }
    }
    @include respond-to($break-991){
      width: 80%;
    }
    @include respond-to($break-767){
      width: 80%;
    }
    @include respond-to($break-320){
      width: 85%;
    }
  }
}
.popup-result{
  display: none;
  background: rgba(0,0,0,0.3);
  position: absolute;
  @include size(100%);
  top: 0;
  left: 0;
  z-index: 99;
}
.bg-submit{
  @include radius(5px);
  position: absolute;
  top: 50%;
  left: 50%;
  @include translate(-50%, -50%);
  width: 300px;
  background: #f8931d;
  background-size: 6px 6px;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%,
          transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
          transparent 75%, transparent);
  padding: 15px;
  .pupup-submit{
    text-align: center;
    @include radius(5px);
    font-size:20px;
    padding: 10px;
    background: #ffffff;
    color: #000000;
    .result{
      .good{
        color: green;
      }
      .bad{
        color: #ed3729;
      }
      font-size: 35px;
      font-weight: bold;
    }
    .score{
      .gray{
        color: #5a5b5c;
      }
    }
    .play-again{
      border: 1px solid #2867b6;
      width: 50%;
      margin: 0 auto;
      @include radius(5px);
      margin-top: 15px;
      color: #2c9acf;
      cursor: pointer;
    }
  }
}
@include respond-to($break-767) {
  .bg-submit {
    @include radius(5px);
    width: 200px;
    padding: 5px;
    .pupup-submit {
      font-size: 15px;
      padding: 10px;
      background: #ffffff;
      color: #000000;
      .result {
        font-size: 20px;
      }
      .play-again {
        width: 50%;
      }
    }
  }
  //btn submit
  .test_vocab {
    .test-vocab-content {
      .box-submit{
        text-align: left;
        padding-left: 27px;
        line-height: 40px;
        border-radius: 5px;
        display: block;
        font-weight: bold;
        color: #009345;
        font-size: 20px;
        @include size(150px, 40px);
        @include retinaDisplay('../images/ic/', 'vwAchieve_web_btnsubmit_upstate_btn.png', 'vwAchieve_web_btnsubmit_upstate_btn@2x.png','#e6e7e8'){
          -webkit-background-size: auto 100%;
          -moz-background-size: auto 100%;
          background-size: auto 100%;
          background-position: right center;
        }
      }
      .pup-h40 {
        left: 20%;
        top: 50%;
        .right-btn{
          width: 40px;
          height: 40px;
          line-height: 40px;
          margin: 0 auto;
          font-size: 25px;
        }
        .wrong-btn{
          width: 40px;
          height: 40px;
          line-height: 40px;
          margin: 0 auto;
          font-size: 25px;
        }

      }
    }
  }

  //start pupup
  .test_vocab {
    .test-vocab-content {
      .box-content {
        font-size: 18px;
      }
      .answer {
        font-size: 18px;
        padding-left: 35%;
      }

    }
  }
  .box-submit{
    .btn-submit{
      width:120px;
    }
  }
}
@include respond-to($break-320) {
  .test_vocab {
    .test-vocab-content {
      .pup-h40 {
        left: 5%;
        top: 50%;
      }
      .answer {
        padding-left: 18%;
      }
    }
  }
}

//end pupup

.box-content{
  width: 100%;
  position: relative;
  perspective: 800px;
  #card {
    width: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    @include transition(0.7s);
    figure {
      color: #333333;
      font-size: 32px;
      font-family: $main-ds;
      margin: 0;
      display: block;
      background: #ffffff;
      width: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      .tbl {
        display: table;
        @include size(100%, 100%);
        .td {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
      }
    }
    .front {
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
    }
    .back {
      position: relative;
      z-index: 1;
      line-height: 1.2;
      min-height: 164px;
      @include transform(rotateY(180deg));
    }
    &.flipped {
      @include transform(rotateY(-180deg));
      .front {
        z-index: 0;
      }
      .back {
        z-index: 1;
      }
    }
  }
}

///*than end css*/


/* BEGIN CUSTOM CSS*/

.flag_cards .header-page span.header-sub-title,
.hang_man .header-page span.header-sub-title,
.test_vocab .header-page span.header-sub-title,
.iwords-page .header-page span.header-sub-title{
  color: #333;
}


/*BEGIN CUSTOM STYLE SHEET FOR HANG MAN*/



.feedbackDiv{
  position: absolute;
  left: 336px;
  top: -15px;
  z-index: 250;
  width: 164px;
  height: 101px;
  text-align: center;

  display:none;
  background-image: url("../images/popup/popup.png");
}

.feedbackDivSnow{
  position:absolute;
  left: 197px;
  top: -12px;
  z-index:250;
  width:164px;
  height:112px;
  text-align:center;
  display:none;
  background-repeat: no-repeat;
  background-image: url(../images/popup/call_out.png);
}

.feedbackDivSnowWrong{
  position: absolute;
  left: 190px;
  top: 55px;
  z-index: 250;
  width: 164px;
  height: 112px;
  text-align: center;
  display: none;
  background-repeat: no-repeat;
  background-image: url(../images/popup/call_out.png);
}

#feedbackAnim span{
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  font-size: 16px;
}

#feedbackAnim.feedbackDiv span{
  padding: 15px 10px 10px 25px;
}

#feedbackAnim.feedbackDivSnow span,
#feedbackAnim.feedbackDivSnowWrong span{
  padding: 12px 25px 15px 10px;
}

.question-hint{
  display: none;
}

.question-hint.active {
  display: block !important;
  position: absolute;
  bottom: 20px;
  width: 100%;
  font-size: 24px;
  color: #5a5b5c;
  background: white;
  border: 2px solid #EE3425;
  border-radius: 10px;
  padding: 10px 20px 20px;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
}

.question-hint .question-hint-header{
  font-size: 26px;
  font-weight: bold;
}

.question-hint .btn-close {
  float: right;
  width: 28px;
  height: 28px;
  display: inline-block;
  margin-right: -5px;
  background: url("../images/ic/vw_web_incorrect_icon.png") center center no-repeat transparent;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
  background-position: 0;
  cursor: pointer;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .question-hint .btn-close {
    background: url("../images/ic/vw_web_incorrect_icon@2x.png") center center no-repeat transparent;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    background-size: auto 100%;
    background-position: 0;
  }
}

.content-show .i-word-container:hover {
  color: #f26631;
  opacity: 0.7; }

.content-show .i-word-container.selected {
  color: #f26631;
  opacity: 0.5; }

.content-show .i-word-container span.i-word{
  /*width: 100%;*/
  display: inline-block;
  cursor: pointer; }


.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0px; }

.select2-container--default .select2-selection--single {
  border: 0px solid #ffffff;
  border: 0px solid transparent;
  border-radius: 0; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: unset; }

.select2-dropdown {
  border: 0px solid transparent;
  border-radius: 0;
  border-right: 1px solid rgba(136, 136, 136, 0.44) !important;
  border-top: 1px solid rgba(136, 136, 136, 0.44) !important;
  box-shadow: -1px 1px 3px rgba(136, 136, 136, 1);}

.select2-results__option{
  font-size: 16px;
  line-height: 28px;
  font-family: "DroidSerif", Helvetica, arial, sans-serif;
  color: #2867b6;
  padding: 0px 0px 0px 10px;

  border-bottom: 1px solid rgba(136, 136, 136, 0.2) !important;}

.select2-results__option:last-child{
  border-bottom: 1px solid rgba(136, 136, 136, 0) !important;}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 9px 6px 0 6px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -3px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-width: 0 6px 9px 6px;
}
/*END CUSTOM STYLE SHEET FOR HANG MAN*/

/* BEGIN CUSTOM STYLE SHEET FOR IWORD */
.content-show .i-word-container:hover {
  color: #f26631;
  opacity: 0.7;
}

.content-show .i-word-container.selected {
  color: #f26631;
  opacity: 0.5;
}

.content-show .i-word-container span.i-word {
  /*width: 100%;*/
  display: inline-block;
  cursor: pointer;
}

.select2-container .select2-selection--single .select2-selection__rendered{
  padding: 0px;

}
.select2-container--default .select2-selection--single{
  border: 0px solid #ffffff;
  border: 0px solid transparent;
  border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  color: unset;
}

.select2-dropdown{
  border: 0px solid transparent;
  border-radius: 0;
  border-right: 1px solid rgba(136, 136, 136, 0.44) !important;
  border-top: 1px solid rgba(136, 136, 136, 0.44) !important;
  box-shadow: -1px 1px 3px rgba(136, 136, 136, 1);
}

.select2-results__option{
  font-size: 16px;
  line-height: 34px;
  font-family: "DroidSerif", Helvetica, arial, sans-serif;
  color: #2867b6;
  padding: 0px 10px;
  margin-left: -10px;
}
/* END CUSTOM STYLE SHEET FOR IWORD */

/* END CUSTOM CSS*/

