/*than css*/
.flag_cards{
  background: #ec3829;
  padding: 50px;
  .page-number{
    text-align: center;
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
  }
  .bg-white{
    background: #fff;
    width: 85%;
    margin: auto;
    padding: 20px ;
    .content{
      border: 2px solid #ffcb2f;
      padding: 20px;
      border-radius: 10px;
      .flag{
        text-align: right;
        img{
          width: 50px;
        }
      }
      .box-content{
        font-size: 60px;
        color: #000;
        text-align: center;
      }
      .box-control{
        text-align: center;
        margin-top:50px;
        .tool-control{
          .control{
            width: 50px;
            height: 50px;
            display: inline-block;
            color: #2c9acf ;
            border-radius: 50%;
            overflow: hidden;
            img{
              width: 50px;
            }
            a{
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .nav-tool{
    .nav-control{
      margin: auto;
      margin-top: 50px;
      text-align: center;
      .control{
        width: 50px;
        height:50px;
        overflow: hidden;
        border-radius: 50%;
        display: inline-block;
        margin-right: 50px;
        img{
          width:50px;
        }
      }
      li:last-child{
        margin-right: 0px;
      }
    }
  }
}


/*than end css*/