body{
  font-size: 12px;
  line-height: 1.41;
  color: $cl-text;
  font-family: $main;
}

strong{
  font-family: $main-b;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-justify{
  text-align: justify;
}

.left{

  float: left;
}

.right{
  float: right;
}

.clearfix{
  @include clearfix;
}

.container{
  padding-left: 20px;
  padding-right: 20px;
  @include clearfix;
  width: 100%;
}

.row{
  margin-left: -10px;
  margin-right: -10px;
  @include clearfix;
}
#wrapper{
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}
.wrap-page{
  padding: 20px 10px;
  @include respond-to($break-767){
    padding: 20px 10px;

  }
}
.heading-wrapper{
  margin-bottom: 20px;
  .logo-title{
    float: left;
    margin-right: 20px;
  }
  .text-title{
    float: left;
    font-size: 30px;
    color: #000000;
    .text-logo-color{
      color: #89c5e7;
    }
  }
}

header{
  background: #fff;
  padding-top: 85px;
  @include respond-to($break-991){
    padding-top: 41px;
  }
}

.main-wrapper{
  background: #e7e7e9;
  padding: 10px 20px 0px 20px;
}

.box-menu{
  float: left;
  width: 610px;
}

.select-wrapper{
  width: 160px;
  float: left;
}

.menu-wrapper{
  width: 450px;
  float: left;
  .menu{
    display: inline-block;
    .item{
      float: left;
      margin: 0 10px;
      list-style-type: none;
      background: #fff;
      @include border-radius(10px);
      font-size: 18px;
      a{
        color: #cdcdcf;
        padding: 4px 20px;
        display: block;
      }
    }
    .item.active{
      background: #f8931d;
      a{
        color: #fff;
      }
    }
  }
}
.icon-wrapper{
  width: 210px;
  float: right;
  .menu{
    display: inline-block;
    .item{
      float: left;
      margin: 0 10px;
      list-style-type: none;
      @include border-radius(10px);
      a {
        @include size(39px);
        display: block;
        @include border-radius(50%);
        @include respond-to($break-767){
          @include size(27px, 27px);
          margin-top: 6px;
        }
      }
      &.logo-tm{
        a{
          @include size(166px, 41px);
          @include border-radius(0);
          background: url("../images/icon/logo.jpg") center center no-repeat;
          @include respond-to($break-767){
            margin-top: 0;
          }
        }
      }
      &.icon-one{
        a{
          background: url("../images/icon/icon-info.jpg") center center no-repeat;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
        }
      }
      &.icon-two{
        a{
          background: url("../images/icon/icon-sound.jpg") center center no-repeat;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
        }
        &.mute{
          a{
            background: url("../images/icon/icon-sound-mute.jpg") center center no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
          }
        }
      }
      &.icon-three{
        a{
          background: url("../images/icon/icon-cham.png") center center no-repeat;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
        }
      }
    }

    .logo-tm{
      display: none;
      @include respond-to($break-991){
        display: block;
      }
    }
  }
}

select{
  @include appearance (none);
  background: url('../images/icon/arrow.jpg') #ffffff right center no-repeat;
  padding: 7px 40px 7px 15px;
  @include border-radius(10px);
  border: 0;
  font-size: 18px;
}

.menu-box {
  width: 300px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  z-index: 1000;
  background: #fff;
  top: 0;
  opacity: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.2);
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.2);
  pointer-events: none;
  -webkit-overflow-scrolling: touch;
  @include transition(0.5s);
  &.open{
    opacity: 1;
    pointer-events: auto;
  }
  .box-prev {
    background: #f3f3f5;
    padding: 10px 20px;
    height: 45px;
    position: relative;
    .icon-three{
      cursor: pointer;
      content: '';
      display: block;
      @include size(14px, 24px);
      background: url("../images/icon/icon-prev.jpg") 0 0 no-repeat;
      transform: rotateY(180deg);
      position: absolute;
      right: 5%;
    }
  }
  @include respond-from($break-992){
    left: 50%;
    margin-left: 430px;
    &.open{
      margin-left: 130px;
    }
  }
  @include respond-to($break-991){
    right: 50%;
    margin-right: 430px;
    &.open{
      margin-right: 130px;
    }
    .box-prev {
      .icon-three{
        transform: rotateY(0deg);
        left: 10%;
      }
    }
  }
  @include respond-to($break-860){
    left: -100%;
    margin-right: 0;
    &.open{
      left: 0;
      margin-right: 0;
    }
  }
}

.box-li {
  .menu {
    padding: 35px 0;
    border-bottom: 1px solid #dadada;
    margin: 0 15px;
    .item {
      list-style-type: none;
      padding: 5px 0px 0 15px;
      position: relative;
      &.disabled{
        opacity: 0.6;
        a{
          cursor: default;

        }
      }
      &.active:before{
        content: "";
        background:url(../images/icon/icon-check.jpg) center center no-repeat;
        background-size: 100%;
        width: 17px;
        height: 20px;
        display: inline-block;
        position: absolute;
        right: 0px;
        bottom: 5px;
      }
      a {
        color: #000;
        font-size: 20px;
        display: block;
      }
    }
  }
}

.box-li:last-child {
  .menu {
    border-bottom: none;
  }
}

@include respond-to($break-991){
  .icon-wrapper {
    width: 100%;
    float: none;
    .menu{
      .logo-tm{
        position: absolute;
        top: 0;
        left: 50%;
        margin: 0;
        @include translate(-50%,0);
        img{
          @include border-radius(0);
        }
      }
      .icon-one{
        position: absolute;
        right: 5%;
        top: 0;
      }
      .icon-two{
        position: absolute;
        right: 0%;
        top: 0;
      }
      .icon-three{
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .box-menu {
    float: left;
    width: 610px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
}

@include respond-to($break-767){
  .main-wrapper{
    padding: 5px 0 0px 10px;

  }
  .select-wrapper{
    width: 35%;
  }
  .menu-wrapper{
    width: 65%;
    .menu{
      .item{
        margin: 0 5px;
        a{
          padding: 2px 6px;
        }
      }
    }
  }
  .icon-wrapper {
    .menu {
      .icon-one {
        right: 8%;
      }
    }
  }
  .box-menu{
    width: 100%;
  }
  select{
    background: url('../images/icon/arrow2.jpg') #ffffff right center no-repeat;
    padding: 5px 25px 7px 10px;
    font-size: 14px;
  }
}


.popup-infomation{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  @include size(100%);
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  .cl-popup{
    display: block;
    @include size(40px);
    @include border-radius(50%);
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid #666;
    &:after,
    &:before{
      content: '';
      display: block;
      width: 60%;
      height: 3px;
      background: #666;
      top: 50%;
      left: 50%;
      position: absolute;
    }
    &:after{@include transform(translate(-50%, -50%) rotate(45deg));}
    &:before{@include transform(translate(-50%, -50%) rotate(-45deg));}
    &:hover{
      border-color: #000;
      &:after,
      &:before{
        background: #000;
      }
    }
  }
  .table{
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    max-width: 714px;
    @include calc('width', '100% - 20px');
    display: table;
    background: #fff;
    @include border-radius(20px);
    .td{
      display: table-cell;
      vertical-align: middle;
      font-size: 20px;
      color: #000;
      padding: 50px 30px;
      text-align: center;
    }
    @include respond-to($break-767){
      .td{
        font-size: 14px;
      }
    }
  }
}
